{% extends "usuarios/base.html" %}
{% block conteudo %}
<div>
  <h1 style="text-align: center;">Usuários Cadastrados</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
          </thead>
          <tbody>
            {% for usuario in usuarios %}
            <tr>
              <td>{{ usuario.id_usuario }}</td>
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.idade }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock  %}
      