{% extends 'investimentos/base.html' %}
{% block conteudo %}

<style>
    h1 {
        text-align: center;
    }

    .btn-success {
        margin-bottom: .625rem;
    }

    button a {
        color: white;
    }
</style>

<h1>Listagem de Investimentos</h1>
<div class="container">
    <button class="btn btn-success">
        <a href="{% url 'novo_investimento' %}">Novo investimeto</a>
    </button>
    <table class="table table-striped table-bordered">
        <thead>
            <th>ID</th>
            <th>Investimento</th>
            <th>Valor</th>
        </thead>
        <tbody>
            {% for dado in dados %}
            <tr>
                <td>{{dado.id}}</td>
                <td>{{dado.investimento}}</td>
                <td>{{dado.valor}}</td>
                <td>
                    <button class="btn btn-info">
                        <a href="{% url 'detalhe' dado.id %}">Detalhes</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning">
                        <a href="{% url 'editar' dado.id %}">Editar</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger">
                        <a href="{% url 'excluir' dado.id %}">Excluir</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}